
body, ul, li{
	padding: 0;
	margin: 0;
}
ul, li {
	list-style: none;
	line-height: 1.5;
}

.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
}
.clearfix {
  zoom: 1;
  display: table;
  width: 100%;
}
.hidden{
	display: none;
}

/*layout*/
html{
	background: #eee;
	min-width: 480px;
}
.navigation{
	background: #fff;
}
.main{
	padding: 20px;
}
.content-wrapper, .header-wrapper{
	background: #fff;
}
.header-wrapper{

}

/*view*/
article.wiki{
}
article.wiki .wiki-meta{
	float: right;
	width: 140px;
	margin: 0 0 5px 5px;
	padding: 5px;
	border-left: 1px solid #ccc;
}

article.wiki .wiki-meta li{
	margin-bottom: 10px;
}
article.wiki .wiki-meta .date{
}
article.wiki .wiki-meta .date a{
	background: #258fb8;
	text-decoration: none;
	font-family: 'source_code_pro';
	color: #fff;
	display: block;
	width: 100%;
	font-size: 20px;
	text-align: center;
}
article.wiki .wiki-meta .date a:hover{
	background: #359fc8;
}
article.wiki .wiki-meta .date a b{
	display: block;
	font-size: 40px;
}
article.wiki .wiki-meta .tags a{
	margin: 2px 0;
	text-decoration: none;
}

/*edit*/
textarea[name='source']{
	height: auto !important;
	min-height:400px !important;
}

/*响应式设计*/

/*默认显示上导航*/
@media screen and (max-width: 800px){
	.header-wrapper{
		margin-top: 50px;
	}
	.navigation{
		z-index: 1000;
		position: fixed;
		width: 100%;
		min-width: 480px;
	}
	.navigation ul{
		padding: 5px;
	}
	.navigation > ul > li{
		margin-right: 10px;
		height: 50px;
		line-height: 50px;
		float: left;
	}	
	.navigation .logo img{
		width: 50px;
		height: 50px;
	}
	.navigation .title{
		display: none;
	}
	.navigation .goto{

	}
	.navigation .menus-toggle{
		float: right;
	}
	.navigation .menus{
		padding: 0;
		margin: 0;
	}
	.navigation .menus li a{
		display: block;
		text-align: center;
		margin: 5px;
		background: #ccc;
	}
	.main{
		padding: 20px 0;
	}	
}

/*宽度大于800px时，显示左侧栏*/
@media screen and (min-width: 800px){
	.navigation{
		position: fixed;		
		width: 170px;
		float: left;
		padding: 20px;
		height: 100%;
	}
	.navigation .logo{
		text-align: center;
	}
	.navigation .logo img{
		width: 150px;
		height: 150px;
	}
	.navigation .menus{
		list-style: none;
		line-height: 1.5;
		display: block !important;
	}
	.navigation .menus-toggle{
		display: none;
	}	
	.header-wrapper{
		margin-top: 0px !important;
	}
	.main{
		margin-left: 210px;
	}
}