  <link type="text/css" rel="stylesheet" href="/asserts/libs/semantic/css/semantic.min.css">
  <link type="text/css" rel="stylesheet" href="/asserts/libs/google-code-prettify/prettify.css">

  <link type="text/css" rel="stylesheet" href="/<%=gb.config.DIR.VIEWS%>/css/wiki.css">

  <script type="text/javascript" src="/asserts/libs/jquery-2.0.3.min.js"></script>
  <script type="text/javascript" src="/asserts/libs/semantic/javascript/semantic.min.js"></script>
  <script type="text/javascript" src="/asserts/libs/google-code-prettify/prettify.js"></script>
