<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <title><%= model.title %></title>
    <% include head.html %>
</head>
<body>

    <div id="layout">
        <div class="sidebar">
            <% include sidebar.html %>
        </div>

        <div class="main">
            <div class="header-wrapper">
                <% include header.html %>
            </div>
            <div class="content-wrapper wikistyle">
                <%- body %>
            </div>
            <div class="footer-wrapper">
                <% include footer.html %>
            </div>
        </div>
    </div>
</body>
</html>
