body{
	font-family: '微软雅黑';
	background: #F5F5F5;
}
ul, li{
	list-style: none;
	padding: 0;
	margin: 0;
}



#main-container{

}
.left-col{
	width: 250px;
	float: left;
	background: #FFF;
	position: fixed;
	height: 100%;
}
.right-col{
	margin-left: 260px;
	background: #FFF;
}





/*wiki============================================================================*/
.wiki{
	background: #ffffff;
	border-top: 1px solid #E7E7E7;
	border-bottom: 1px solid #E7E7E7;
	padding: 20px;
	margin: 0 -15px;
}

.wiki-meta ul{
	padding: 10px 0;
	border-top: 1px solid #E7E7E7;
}
.wiki-meta li{
	float: left;
	margin-right: 15px;
}
.wiki-meta li>i{
	margin-right: 5px;
}


/*foot*/
footer{
	border-top: 1px solid #E7E7E7;	
	background: #ffffff;
	margin: 20px 0;
}
.copyright{
	text-align: center;
	padding: 20px;
}
